<form name="quotation_request" action="/thanks" method="post" netlify netlify-honeypot="bot-field">
            <input type="hidden" name="form-name" value="quotation_request"/>

            <div v-show="tab === 0" class="tab">
              <h3>The Kind Of Service You are Looking for</h3>
              <div class="tab-main">
                <label for="service-house">Residential
                  <input type="radio" id="service-house" name="service" v-model="serviceType" value="residential">
                  <img src="~/assets/img/service-type-house.png"  alt="">
                </label>
                <label for="service-commercial">Commercial
                  <input type="radio" id="service-commercial" name="service" v-model="serviceType" value="commercial">
                  <img src="~/assets/img/service-type-apartment.png"  alt="">
                </label>
                <label for="service-corporate">Corporate
                  <input type="radio" id="service-corporate" name="service" v-model="serviceType" value="carpet-cleaning">
                  <img src="~/assets/img/service-type-corporate.png" alt="">

                </label>
              </div>
            </div>

            <div v-show="tab === 1 && serviceType === 'residential'" class="tab">
              <h3>How Often Are You Looking To Clean Your House?</h3>
              <div class="tab-zero">
                <label for="one-time">One Time
                  <input type="radio" id="one-time" name="time" v-model="formData.time" value="one-time">
                  <img src="~/assets/svg/go-cleaning-one-time-cleaning-calendar.svg" alt="">
                </label>
                <label for="weekly">Weekly
                  <input type="radio" id="weekly" name="time" v-model="formData.time" value="weekly">
                  <img src="~/assets/svg/go-cleaning-weekly-cleaning-calendar.svg" alt="">
                </label>
                <label for="bi-weekly">Bi-Weekly
                  <input type="radio" id="bi-weekly" name="time" v-model="formData.time" value="bi-weekly">
                  <img src="~/assets/svg/go-cleaning-bi-weekly-cleaning-calendar.svg" alt="">
                </label>
                <label for="monthly">Monthly
                  <input type="radio" id="monthly" name="time" v-model="formData.time" value="monthly">
                  <img src="~/assets/svg/go-cleaning-monthly-cleaning-calendar.svg" alt="">
                </label>
                <label for="other">Other
                  <input type="radio" id="other" name="time" v-model="formData.time" value="other">
                  <img src="~/assets/svg/go-cleaning-other-cleaning-calendar.svg" alt="">
                </label>
              </div>
            </div>

            <div v-show="tab === 2 && serviceType === 'residential'" class="tab">
              <h3>Tell Us About Your Home?</h3>
              <div class="two-column">
                <div>
                  <label for="home-type">Home Type</label>
                  <select name="house-type" v-model="formData.homeType1" id="home-type">
                    <option value=""></option>
                    <option value="Bungalow">Bungalow</option>
                    <option value="Two Storey">Two Storey</option>
                    <option value="One &amp; Half Storey">One and Half Storey</option>
                    <option value="One Floor Condo or Apartment">One Floor Condo or Apartment</option>
                    <option value="4 Level Split">4 Level Split</option>
                    <option value="Basement Suite">Basement Suite</option>
                  </select>
                </div>
                <div>
                  <label for="bedrooms">Bedrooms</label>
                  <select name="Bedrooms" v-model="formData.bedrooms1" id="bedrooms">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="4">4</option>
                    <option value="5+">5+</option>
                  </select>
                </div>
                <div>
                  <label for="bathrooms">Bathrooms</label>
                  <select name="Bathrooms" v-model="formData.bathrooms1" id="bathrooms">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4+">4+</option>
                  </select>
                </div>
                <div>
                  <label for="size">Size (sqt)</label>
                  <input type="text" v-model="formData.size" id="size">
                </div>
                <div>
                  <label for="levels">Levels</label>
                  <select name="levels" v-model="formData.levels" id="levels">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4+">4+</option>
                  </select>
                </div>
                <div>
                  <label for="pets">Pet(s)</label>
                  <select name="pets" v-model="formData.pets" id="pets">
                    <option value=""></option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>

            <div v-show="tab === 3 && serviceType === 'residential'" class="tab">
              <h3>Tell Us About Your Home?</h3>
              <div class="tab-one">
                <div>
                  <label for="people">How Many People Lives In Your House? </label>
                  <select name="people" v-model="formData.people" id="people">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6+">6+</option>
                  </select>
                </div>
                <div>
                  <label for="how-dirty">How Clean Would You Say Your Home Is?</label>
                  <select name="how-dirty" v-model="formData.howDirty" id="how-dirty">
                    <option value=""></option>
                    <option value="Really Dirty">Really Dirty</option>
                    <option value="Kind of Diry">Kind of Diry</option>
                    <option value="About Average">About Average</option>
                    <option value="Kind of Clean">Kind of Clean</option>
                    <option value="Really Clean">Really Clean</option>
                  </select>
                </div>
              </div>
            </div>

            <div v-show="tab === 4 && serviceType === 'residential'" class="tab">
              <input type="date" alt="cleaning date" v-model="formData.cleaningDate">
              <input type="time" alt="cleaning time" v-model="formData.cleaningTime">
            </div>

            <div v-show="tab === 5 && serviceType === 'residential'" class="tab">
              <p>
                <label>Your Name: <input type="text" v-model="formData.customerName" name="Rname" required/></label>
              </p>
              <p>
                <label>Your Email: <input type="email" name="Remail" v-model="formData.customerEmail" required/></label>
              </p>
              <p>
                <label>Message: <textarea name="message" v-model="formData.customerMessage"></textarea></label>
              </p>
            </div>

            <div v-show="tab===1 && serviceType === 'commercial'" class="tab">
              <div>
                <label for="client-name">Name: </label>
                <input id="client-name" type="text" placeholder="Full Name" v-model="clientData.fullName">
                <!-- <input type="text" placeholder="Last Name" v-model="clientData.fullName"> -->
              </div>
              <div>
                <label for="business-org">Company Name </label>
                <input id="business-org" type="text" placeholder="Company Name" v-model="clientData.org">
              </div>
            </div>

            <div v-show="tab===2 && serviceType === 'commercial'" class="tab">
              <div class="two-column">
                <div>
                  <label for="client-email">Email: </label>
                  <input id="client-email" type="email" placeholder="Email" v-model="clientData.email">
                </div>
                <div>
                  <label for="client-address">Address: </label>
                  <input id="client-address" type="text" placeholder="Address" v-model="clientData.address">
                </div>
                <div>
                  <label for="location-type">Location Type</label>
                  <select name="locationType" v-model="clientData.locationType" id="locationType">
                    <option value=""></option>
                    <option value="Really Dirty">Office</option>
                    <option value="Kind of Diry">Retail</option>
                    <option value="About Average">Spas &amp; Healthcare</option>
                    <option value="Kind of Clean">Schools &amp; Daycares</option>
                    <option value="Really Clean">Dealership</option>
                    <option value="Really Clean">Church</option>
                    <option value="Really Clean">Restaurent</option>
                    <option value="Really Clean">Others</option>
                  </select>
                </div>
                <div>
                    <label for="size">Size (sqt)</label>
                    <input type="text" name="size" v-model="clientData.size" id="size">
                </div>
                <div>
                    <label for="employees">Number of Employee(s) In The Location? </label>
                    <select name="house-type" v-model="clientData.employeeNo" id="employeeNo">
                      <option value=""></option>
                      <option value="1-5">1-5</option>
                      <option value="6-10">6-10</option>
                      <option value="11-20">11-20</option>
                      <option value="21-50">21-50</option>
                      <option value="51-100">51-100</option>
                      <option value="100+">100+</option>
                    </select>
                  </div>
                <div>
                  <label for="client-phone">Phone: </label>
                  <input id="client-phone" type="tel" placeholder="Phone" v-model="clientData.phone">
                </div>
              </div>
            </div>
          <!-- </div> -->
            <div v-show="tab === 3 && serviceType === 'commercial'" class="tab">
              <h3>If you have any additional request or queries, please let us know.</h3>
              <div>
                <label for="client-request">Request: </label>
                <textarea id="client-request" v-model="clientData.request"></textarea>
              </div>
            </div>

            <div v-show="tab=== 3 && serviceType === 'carpet-cleaning'" class="tab">
              <h3>Please provide us the following details!</h3>
              <div class="tab-one">
                <div>
                  <div>
                    <label for="customer-name">Name: </label>
                    <input id="customer-name" type="text" placeholder="Full Name" v-model="clientData.fullName">
                  </div>
                  <div>
                    <label for="customer-email">Email: </label>
                    <input id="customer-email" type="email" placeholder="Email" v-model="clientData.email">
                  </div>
                </div>
                <div>
                  <div>
                    <label for="area">Size (sqt)</label>
                    <input type="text" v-model="clientData.size" id="area">
                  </div>
                  <div>
                    <label for="residents-no">Number of People Living in the House? </label>
                    <select name="residents-no" v-model="clientData.residentNo" id="residents-no">
                      <option value=""></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6+">6+</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div v-show="tab === 2 && serviceType === 'carpet-cleaning'" class="tab">
              <h3>Please provide us the following details!</h3>
              <div>
                <label for="customer-address">Address: </label>
                <input id="customer-address" type="text" placeholder="Address" v-model="clientData.address">
              </div>
              <div>
                <label for="dirty-level">How Clean Would You Say Your Home Is?</label>
                <select name="dirty-level" v-model="clientData.howDirty" id="dirty-level">
                  <option value=""></option>
                  <option value="Really Dirty">Really Dirty</option>
                  <option value="Kind of Dirty">Kind of Dirty</option>
                  <option value="About Average">About Average</option>
                  <option value="Kind of Clean">Kind of Clean</option>
                  <option value="Really Clean">Really Clean</option>
                </select>
              </div>
              <div>
                <label for="customer-phone">Phone: </label>
                <input id="customer-phone" type="tel" placeholder="Phone" v-model="clientData.phone">
              </div>
            </div>

            <div v-show="tab === 3 && serviceType === 'carpet-cleaning'" class="tab">
              <h3>If you have any additional request or queries, please let us know.</h3>
              <div>
                <label for="customer-request">Request: </label>
                <textarea id="customer-request" v-model="clientData.request"></textarea>
              </div>
            </div>

            <div v-show="tab===1 && serviceType === 'carpet-cleaning'" class="tab">
              <div>
                <label for="customer-name">Name: </label>
                <input id="customer-name" type="text" placeholder="Full Name" v-model="clientData.fullName">
              </div>
              <div>
                <label for="customer-email">Email: </label>
                <input id="customer-email" type="email" placeholder="Email" v-model="clientData.email">
              </div>
              <div>
                <label for="customer-address">Address: </label>
                <input id="customer-address" type="text" placeholder="Address" v-model="clientData.address">
              </div>
              <div>
                <label for="dirt-level">How Clean Would You Say Your Home Is?</label>
                <select name="dirt-level" v-model="clientData.dirtLevel" id="dirt-level">
                  <option value=""></option>
                  <option value="Really Dirty">Really Dirty</option>
                  <option value="Kind of Dirty">Kind of Diry</option>
                  <option value="About Average">About Average</option>
                  <option value="Kind of Clean">Kind of Clean</option>
                  <option value="Really Clean">Really Clean</option>
                </select>
              </div>
              <div>
                  <label for="area">Size (sqt)</label>
                  <input type="text" v-model="clientData.area" id="area">
              </div>
              <div>
                  <label for="resident-no">Number of People Living in the House? </label>
                  <select name="resident-no" v-model="clientData.residentNo" id="resident-no">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6+">6+</option>
                  </select>
                </div>
              <div>
                <label for="customer-phone">Phone: </label>
                <input id="customer-phone" type="tel" placeholder="Phone" v-model="clientData.phone">
              </div>

              <div>
                <label for="customer-request">Request: </label>
                <textarea id="customer-request" v-model="clientData.request"></textarea>
              </div>

            </div>

            <div style="overflow:auto;">
              <div style="float:right;">
                <button v-show="tab > 0" type="button" id="prevBtn" @click="toPreviousTab">Previous</button>
                <button
                  v-show="(tab < 5 && serviceType ==='residential') || (serviceType !=='residential' && tab < 3)"
                  type="button" id="nextBtn" @click="toNextTab">Next
                </button>
                <button
                  v-show="(tab === 5  && serviceType ==='residential') || (tab===3 && serviceType !=='residential')"
                  type="submit">Submit
                </button>
              </div>
            </div>
          </form>